.users-title {
  text-align: center;
  color: var(--primaryColor);
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
  font-weight: 700;
}

.users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
